.SavedProgress-container> hr{
    margin: 0 1rem;
    color: gray;
}
.progress-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
    font-size: larger;
}
.light-text{
    color: gray;
    font-weight: 100;
}

.icons{
    height: 1.5rem;
}
