.commentBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.5);
}
.comment-container{
    background-color: white;
    width: 80%;
}
.comment-container > h2{
    margin:.5rem;
    margin-bottom: .5rem;
    text-align: left;
    color: rgba(0, 128, 128, 0.767);
    font-weight: 400;
}
.comment-divider{
    display: block;
    height: 2px;
    background-color: rgba(0, 128, 128, 0.767);
    margin-bottom: 0.5rem;
}
.comment-input-box{
    width: 90%;
    border: none;
    border-bottom: 1px solid rgba(0, 128, 128, 0.767);
    padding: 0.5rem;
    font-size: large;
    color: gray;
    outline: none;
}
.btn-group{
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 0.5rem;
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.comment-btns{
    width: 50%;
    height: 3rem;
    background-color: white;
    border: none;

}