body{
   margin: 0;
   padding: 0;
}

.all-exercise-heading {
   margin-left: 15px;
}

.search-header {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   justify-content: space-between;
   background-color: rgba(0, 0, 0, 0.85);
   color: white;
   font-size: x-large;
}

.add-button {
   margin-right: 40px;
   font-size: medium;
   font-weight: 600;
   background-color: rgb(7, 141, 7);
   border-radius: .25rem;
   cursor: pointer;
   color: white;
}

.search-category {
  text-decoration: none;
  color:rgba(0, 0, 0, 0.85); 
}

.input-exercise-container{
   margin: 0;
   color: #333;
   font-size: larger;
   text-align: left;
   border:none;
   border-bottom: 1px solid #000;
   outline: none;
   padding: 5px;
   width: 300px;
}

.search-icon{
   margin-right: 10px;
}

.li-container{
   font-size: large;
   font-weight: bold;
   list-style: none;
   border-bottom: 1px solid gray;
}

.main-category-text {
   margin-top: 10px;
   text-align: left;
}

.subcategory-item {
   text-align: left;
   list-style: none;
   border-bottom: 1px solid gray;
   font-size: large;
}

.no-result{
  font-size: large;
}

.addnewexercise{
  font-size: large;
}