.progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1rem;
  font-size: larger;
}
.light-text {
  color: gray;
  font-weight: 100;
}
.progress-container b {
  color: gray;
}
.icons {
  height: 1.5rem;
}
.progress-container-left,
.progress-container-right {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: end;
}
.divider {
  display: block;
  height: 1px;
  background-color: gray;
  margin: 0 2rem;
}
